/* home */

#parts {
    max-width: 600px;
    margin: auto;
}

#parts .part {
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
    padding-top: 17px;
}
#parts .part:last-child {
    border-bottom: none;
}
#parts .part .name {
    margin-bottom: 6px;
}
#parts .part input {
    width: calc(100% - 80px);
}
#parts .part input[type="url"],
#parts .part input[type="text"] {
    padding-left: 6px;
}

#parts .part button {
    width: 75px;
    float: right;
}

#parts .part button.link {
    width: 100%;
    height: 42px;
    float: none;
}

#parts .part input,
#parts .part button {
    height: 34px;
    line-height: 0px;
}

/* remote */

#content {
    width: 100%;
    margin: auto;
    position: relative;
}

#keyboard-form {
    display: inline;
}

#screen {
    display: flex;
    margin-top: 0px;
    min-height: 70vh;
    background: black;
    touch-action: none;
}
#screen-img {
    align-self: center;
    max-width: 100%;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#screen-cursor {
    position: absolute;
    height: 24px;
    left: -2px;
    top: -2px;
}

#controls {
    margin-top: 12px;
    text-align: center;
}
#controls * {
    font-size: 16px;
}

/* local */

.hidden {
    display: none;
}

#path {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    line-height: 20px;
}

#path .component {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;

    overflow-x: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#path a {
    padding: 0px 10px;
}

#content {
    margin-top: 20px;
}

#content .entry {
    overflow: hidden;
    text-overflow: ellipsis;
}

#content a {
    white-space: nowrap;
}

#content a.dir {
    color: #2c88b8;
}
