name: Tests

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: libpipewire-0.3-dev
        version: latest
    - name: Download dx
      run: curl -sSL http://dioxus.dev/install.sh | bash
    - name: Format
      run: |
        make format
        git diff --exit-code
    - name: Lint
      run: make check
